package main

import (
	"testing"
)

func TestDayXPartY(t *testing.T) {
	// t.Skip("dayX part Y passed")
	result := dayXPartY()
	t.Errorf("dayX, partY: %d", result)
}

func TestHowManyGamesPlayed(t *testing.T) {
	// test := ""
	expected := ""

	result := ""
	if result != expected {
		t.Errorf("Expected %v, got %v", expected, result)
	}
}
